body{
  word-break: break-word;
}

#name-form-div{
  width: 250px;
  height: 160px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: floralwhite;
}

#input-name{
  font-size: 24px;
  width: 180px;
  height: 40px;
  margin-left: 35px;
  margin-top: 30px;
  border: 1px solid purple;
  color: purple;
  border-radius: 5px;
}

#submit-name{
  color: purple;
  background-color: white;
  margin-top: 20px;
  margin-left: 55px;
  width: 150px;
  height: 40px;
  border: 1px solid purple;
  border-radius: 5px;
}

#submit-name:hover{
  color: white;
  background-color: purple;
  cursor: pointer;
}

#app-container{
  display: none;
}

#online-users-div{
  display: inline-block;
  vertical-align: top;
  height: 502px;
  width: 502px;
}

#online-users{
  height: 250px;
  width: 250px;
  margin: auto;
  margin-top: 120px;
  box-shadow: 0px 0px 10px 5px green;
  background-color: lightgreen;
  overflow-y: scroll;
}

#chat-div{
  display: inline-block;
  vertical-align: top;
  height: 500px;
  width: 500px;
  margin: auto;
  box-shadow: 0px 0px 5px 5px purple;
}

#user-name{
  font-size: 24px;
  height: 50px;
  width: 500px;
  color: floralwhite;
  background-color: #D9027D;
  text-align: center;
}

#chat{
  height: 450px;
  width: 500px;
  font-size: 18px;
  color: floralwhite;
  background-color: #D9027D;
  overflow-y: scroll;
}

#added-users-div{
  display: inline-block;
  vertical-align: top;
  height: 502px;
  width: 502px;
}

#added-users{
  height: 250px;
  width: 250px;
  margin: auto;
  margin-top: 120px;
  box-shadow: 0px 0px 10px 5px blue;
  background-color: lightblue;
  overflow-y: scroll;
}


form{
  height: 50px;
  width: 500px;
  margin: auto;
}

textarea{
  width: 495px;
  height: 80px;
  background-color: #00FFFF;
  box-shadow: 0px 0px 5px 5px darkcyan;
  color: purple;
  font-size: 18px;
  font-weight: bold;
  resize: none;
  border: 1px solid darkcyan;
}

#submit{
  width: 500px;
  height: 50px;
  background-color: #00FFFF;
  box-shadow: 0px 0px 5px 5px darkcyan;
  border: 1px solid darkcyan;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: floralwhite;
}

.message{
  height: 50px;
  width: 100%;
  border-bottom: 1px solid black;
}

.user-message{
  background-color: cyan;
  color: purple;
}